$color: #00bfff;
$font-family: Montserrat, sans-serif;

body {
  margin: 0;
  font-size: 16px;
  padding: 1rem;
  font-family: $font-family;
  color: #555;
}

img {
  width: 100%;
  height : auto;
}

h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

a {
  margin-bottom: 1rem;
  color: $color;
}

hr {
  border: 0;
  border-bottom: 3px solid #eee;
  width: 200px;
  margin: 0 auto;
}

button {
  font-family: $font-family;
}

.wrapper {
  max-width: 800px;
  margin: 4rem auto;
}

.controls {
  text-align: center;

  button {
    border: none;
    background: $color;
    color: white;
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: 2rem;
    outline: none;
    transition: background-color .2s linear;

    &:hover {
      background: darken( $color, 20% );
    }
  }
}

.splide {
  margin: 1rem 0 3rem;

  &--nav {
    padding: 0;
  }

  &__pagination {
    bottom: -2em;
  }

  &__autoplay {
    margin-top: 1rem;
    text-align: center;
  }

  &__play, &__pause {
    border: none;
    background: $color;
    color: white;
    transition: background-color .2s linear;
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: 2rem;
    outline: none;
    margin: 0 .2rem;

    &:hover {
      background: darken( $color, 20% );
    }
  }
}